*, :after, :before { box-sizing: border-box; margin: 0; padding: 0; }

body{
    font-family: 'Merriweather', serif;
    background-color: #f0ebebe0;
    line-height: 1.5;
    margin: 0;
}

.heading {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 3rem;
}

.hlavicka {
    display: flex;
    background-image: url("island-hlavicka.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    color: white;

}

.fotka-hlavicka {
    display: block;
}

.text {
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    padding-bottom: 2rem;
}

ul {
    text-transform: uppercase;
    list-style-type: none;
    color:lightgray;
}

ul li {
    border-bottom: 1px solid lightgrey;

}
.menu {
    display: grid;
    flex-direction: column;
    text-align: center;
    padding: 0;
}

.menu a {
    color: lightgray;
    text-decoration: none;
}

.menu a:hover {
    background-color:rgb(226, 222, 222);
    color: lightslategray;
}

p {
    padding-left: 1rem;
    padding-right: 1rem;
    
}

.heading-heading {
    font-size: 2rem;
    padding-left: 1rem;
}

.fotka {
    display: flex;
    width: 100%;
    height: auto;    
}

.fotka-galerie {
    display: flex;
    width: 100%;
    height: auto;
}

.animace {
    color: grey;
    text-align: center;
}


.fotospopisem {
    display: flex;
    color: grey;
    flex-direction: column;
}

.fotospopisem a {
    color: grey;
}
.popisek {
    align-self: center;
}

.fotogalerie a {
    color: grey;
}

}
.footer {
    border: 1px solid lightgray;
    box-shadow: grey 4px 6px 20px;
    background-color: rgb(228, 229, 230);
    color: grey;
}

.footer a{
    color: grey;
}

@media screen and (min-width: 550px) and (max-width: 1000px) {

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-bottom: 1px solid lightgrey;
        border-top: 1px solid lightgray;
        padding-top: 1rem;
        padding-bottom: 1rem;
    
    }
ul li {
    border: none;
}
    .foto1,
    .foto2,
    .foto3,
    .foto4,
    .foto5,
    .foto6,
    .foto7,
    .foto8,
    .foto9,
    .foto10
     {

        width: 50%;
        float: left;
        overflow: hidden;
        position: relative;
     }

 .animace {
    transform: translate(0px, 100%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    background-color:rgba(17, 16, 16, 0.5);
    transition: all 1s ease-in 0s;
     }

.foto1:hover .animace,
.foto2:hover .animace,
.foto3:hover .animace,
.foto4:hover .animace,
.foto5:hover .animace,
.foto6:hover .animace,
.foto7:hover .animace,
.foto8:hover .animace,
.foto9:hover .animace {
    transform: translate(0px, 0%);
}

    img.fotka-galerie:hover {
        transform: scale(1.1);
    }
    
    .fotospopisem {
        display: flex;
        color: grey;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .popisektext {
        align-self: flex-end;
        color: rgb(223, 211, 211);
        padding-right: 1rem;
        margin-top: -2rem;
    }

    .popisektext a   {
        color: rgb(223, 211, 211);
    }
    .popisek {
        color: rgb(223, 211, 211);
    
    }

    .popisek a {
        color: rgb(223, 211, 211);

    }

    .footer {
        clear: both;
        display: inline-block;
        padding-top: 2rem;
    
    }

 .animace {
        margin-top: -3rem;

    }

}

@media screen and (min-width: 1000px)  {

    .obsah {
        width: 960px;
        background-color: white;
        border: 0.5px rgba(241, 238, 238, 0.2) solid;
        margin: auto;
        margin-top: -2.5rem;
    }

    .hlavicka {
        padding-bottom: 2rem;
    }

    .menu {
        float: left;
        padding: 2rem 3rem 15rem 3rem;
    }

    .fotospopisem {
        display: block;
    }

    .textpodmenu {
        padding-top: 2rem;
    }
 
    .fotospopisem {
        display: block;
        color: grey;
        flex-direction: column;
        margin-bottom: 1rem;
        padding-top: 2rem;
    }

    .popisektext {
        align-self: flex-end;
        color: rgb(223, 211, 211);
        padding-right: 1rem;
        margin-top: -2rem;
        display: flex;
        justify-content: flex-end;
    }

    .popisektext a   {
        color: rgb(223, 211, 211);
    }
    .popisek {
        color: rgb(223, 211, 211);
    
    }

    .popisek a {
        color: rgb(223, 211, 211);

    }

    .footer {
        clear: both;
        display: flex;
        padding-top: 2rem;
        justify-content: end;
        width: 960px;
        margin: auto;

    }

    h2 {
        padding-top: 1rem;
    }

    .textvlevo {
        text-align: left;
        padding-right: 12rem;
    }

    .covidetna {
        padding-left: 12rem;
    }
 h2#covidet.heading-heading {
        padding-left: 10rem;
    }
    
    .foto1,
    .foto2,
    .foto3,
    .foto4,
    .foto5,
    .foto6,
    .foto7,
    .foto8,
    .foto9
     {
        width: 33.33333%;
        float: left;
        overflow: hidden;
        position: relative;
    }

    .animace {
        transform: translate(0px, 100%);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        color: white;
        background-color:rgba(17, 16, 16, 0.5);
        transition: all 1s ease-in 0s;
         }
    
    .foto1:hover .animace,
    .foto2:hover .animace,
    .foto3:hover .animace,
    .foto4:hover .animace,
    .foto5:hover .animace,
    .foto6:hover .animace,
    .foto7:hover .animace,
    .foto8:hover .animace,
    .foto9:hover .animace {
        transform: translate(0px, 0%);
    }
    
    img.fotka-galerie:hover {
            transform: scale(1.1);
        }

    }
